@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using IMS.HtmlEmail.Views.Emails.Forgotpassword
@model ForgotPasswordVM
@{
    ViewData["EmailTitle"] = "Welcome";
    Layout = null; // Apply layout. Currently we don't need layout or common components
}

<table role="presentation" border="0" cellpadding="0" cellspacing="0" class="body">
    <tr>
        <td>&nbsp;</td>
        <td class="container">
            <div class="content">
                <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="main">
                    <!-- START MAIN CONTENT AREA -->
                    <tr>
                        <td class="wrapper">
                            <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
                                <tbody>
                                    <tr>
                                        We have just received a password reset request for @Model.Email
                                    </tr>
                                    <tr>
                                        Please click
                                        <a href="@Model.Link" target="_blank">here</a>
                                        to reset your password.
                                    </tr>
                                    <tr>
                                        For your security, the link will expire in 24 hours or immediately after you reset your password.
                                    </tr>
                                    <tr>
                                        Thanks & Regards!
                                    </tr>
                                    <tr>
                                        IMS Team
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>

                    <!-- END MAIN CONTENT AREA -->
                </table>
            </div>
        </td>
    </tr>
</table>