﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model CreateAccountVM
@using Microsoft.AspNetCore.Identity
@{
	SelectList departmentList = new SelectList(Model.Departments, nameof(Department.DepartmentId), nameof(Department.DepartmentName));
	SelectList roleList = new SelectList(Model.Roles, nameof(IdentityRole.Name), nameof(IdentityRole.Name));
	SelectList genderList = new SelectList(Model.Genders);

	ViewData["Title"] = "Create New Account";
}

@if (ViewData.ModelState.TryGetValue("generalExceptionError", out var entry))
{
	<div class="alert alert-danger">
		@foreach (var error in entry.Errors)
		{
			<span>@error.ErrorMessage</span>
		}
	</div>
}

<div class="container">
	<div class="col-12 mt-5">
		<div class="card">
			<div class="card-body">
				<h4 class="header-title">Create new User</h4>
				<form asp-controller="Account" asp-action="Create" method="post">
					<div class="row">
						<div class="form-group col-6">
							<label asp-for="FullName" class="col-form-label required">Full name</label>
							<input type="text" asp-for="FullName" class="form-control" autofocus/>
							<span asp-validation-for="FullName" class="text-danger"></span>
						</div>

						<div class="form-group col-6">
							<label asp-for="Email" class="col-form-label required">Email</label>
							<input type="email" asp-for="Email" class="form-control" />
							<span asp-validation-for="Email" class="text-danger"></span>
						</div>

						<div class="form-group col-6">
							<label asp-for="DOB" class="col-form-label required">Date of Birth</label>
							<input asp-for="DOB" type="date" class="form-control" />
							<span asp-validation-for="DOB" class="text-danger"></span>
						</div>

						<div class="form-group col-6">
							<label asp-for="Address" class="col-form-label required">Address</label>
							<input type="text" asp-for="Address" class="form-control" />
							<span asp-validation-for="Address" class="text-danger"></span>
						</div>

						<div class="form-group col-6">
							<label asp-for="PhoneNumber" class="col-form-label required">Phone Number</label>
							<input type="tel" asp-for="PhoneNumber" class="form-control" />
							<span asp-validation-for="PhoneNumber" class="text-danger"></span>
						</div>

						<div class="form-group col-6">
							<label class="col-form-label required">Gender</label>
							<select asp-for="SelectedGender" asp-items="genderList" class="form-control">
								<option disabled selected>Please select an option</option>
							</select>
							<span asp-validation-for="SelectedGender" class="text-danger"></span>
						</div>

						<div class="form-group col-6">
							<label class="col-form-label required">Role</label>
							<select asp-for="SelectedRole" asp-items="roleList" class="form-control">
								<option disabled selected>Please select an option</option>
							</select>
							<span asp-validation-for="SelectedRole" class="text-danger"></span>
						</div>

						<div class="form-group col-6">
							<label class="col-form-label required">Department</label>
							<select asp-for="SelectedDepartmentId" asp-items="departmentList" class="form-control">
								<option disabled selected>Please select an option</option>
							</select>
							<span asp-validation-for="SelectedDepartmentId" class="text-danger"></span>
						</div>

						<div class="form-group col-6">
							<label asp-for="Note">Note</label>
							<textarea asp-for="Note" class="form-control"></textarea>
							<span asp-validation-for="Note" class="text-danger"></span>
						</div>

						<!-- Skip STATUS (SRS not clear) -->

					</div>
					<div style="float: right">
						<button class="btn btn-success mr-3" type="submit">Submit</button>
						<a asp-controller="Account" asp-action="Index" class="btn btn-secondary">Cancel</a>
					</div>

				</form>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
}