@{
    ViewData["Title"] = "Forgot Password";
    Layout = "/Views/Shared/_LayoutIdentity.cshtml";
}

@model ForgotPasswordModel

<div id="preloader">
    <div class="loader"></div>
</div>
<div class="container">
    <div class="d-flex justify-content-center">
        <div class="col-6 mt-5">
            <div class="card">
                <form method="post">
                    <div class="card-body">
                        <div class="text-center mt-3">
                            <i class="ti-lock lock-icon "></i>
                            <h2 class="mt-4">Forgot your password?</h2>
                            <p class="mt-2">Please enter the email you use to sign in</p>
                        </div>
                        <div class="form-group mt-5 mx-4">
                            <label>Your email address</label>
                            <input class="form-control" style="border-radius:12px" asp-for="Email" autocomplete="username" aria-required="true" placeholder="abc@example.com" autofocus />
                            <span asp-validation-for="Email" class="text-danger"></span>
                            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        </div>
                        <div class="form-group mt-3 mx-4">
                            <button type="submit" style="border-radius:12px" class="btn btn-primary mt-4 col-12">Reset password</button>
                            <a asp-asp-controller="Account" asp-action="Login" class="col-12 btn btn-link">Back to Sign in</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
